.primary {
	fill: #03bbc5; /* logo */
}

.contrasting-1 {
	fill: #002b2e; /* job */
}

.contrasting-2 {
	fill: #646464; /* links */
}

.analgous {
	fill: #008cb0; /* my name, app names */
}

.muted {
	fill: #999; /* featured */
}

.gray {
	fill: #4b4b4b; /* gray svg */
}

body {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}

.col {
	display: inline-block;
	padding: 20px;
}

header {
	border-bottom: 3px solid #999;
	padding: -5px;
}

h1.analgous-color {
	display: block;
	font-family: 'Montez', 'Brush Script MT', 'Papyrus', cursive;
	font-size: 85px;
	font-weight: 100;
	line-height: 1.1;
}

h4.contrasting1-color {
	text-transform: uppercase;
	line-height: 0.2;
}

footer {
	padding-top: 50px;
}

h1, a {
	color: #747784;
}
a {
	display: inline-block;
}

svg {
	display: inline-block;
}

.main ul li{
	margin-left: -20px;
}

.text-center {
	text-align: center;
}

li {
	display: inline-block;
	list-style : none;
}

svg > circle:hover { 
    background-color: yellow;
}


text {
	font-size: 35px;
	fill: white;
}

/* Properties for SVG backgrounds */

#work-circle, #law-rect {
	fill: #646464;
}

#work-circle:hover, #law-rect:hover {
	fill: #4B4B4B;
}

#education-circle, #contacts-circle, #programming-rect {
	fill: #03bbc5;
}

#education-circle:hover, #contacts-circle:hover, #programming-rect:hover {
	fill: #00A2AC;
}

#projects-circle, #music-rect {
	fill: #008cb0;
}

#projects-circle:hover, #music-rect:hover {
	fill: #007397;
}

#skills-circle {
	fill: #002b2e;
}

#skills-circle:hover {
	fill: #1A4548;
}

.btn {
	color: white;
	background-color: #03bbc5;
	border: #03bbc5;
	border-radius: 5px;
}

.btn:hover {
	background-color: #00A2AC;
}

.btn:focus {
	outline: none;
}

hr {
	height: 3px;
	background-color: #bbb;
}

span {
	font-family: 'Montez', 'Brush Script MT', 'Papyrus', cursive;
	color: #008cb0 ;
	font-size: 26px;
}

.education-row {
	position: relative;
	padding-top: 20px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.programming-col, .law-col, .music-col {
	padding: 20px 10px 20px 10px;

}
div.education-row {
	color: white;
}

.education-row h1 {
	color: white;
}

.law-col h1 {
	font-family: 'Poly';
	font-size: 80px;
	font-weight: 300;
	color: white;
	margin-top: -6px;
}

.course a, .major a {
	float: right;
	color: white;
}

.music-col h1 {
	font-family: 'Parisienne';
	font-size: 80px;
	font-weight: 300;
	color: white;
	margin-top: -6px;
}

.programming-col h1 {
	font-family: 'Lato';
	font-size: 47px;
	font-weight: 300;
	color: white;
}

.programming-col {
	order: 1;
	flex-grow: 1.2;
	background-color:  #03bbc5;
}

.law-col {
	order: 2;
	flex-grow: 1.4;
	background-color: #646464;
}

.music-col {
	flex-grow: 1.2;
	order: 3;
	background-color: #008cb0;
}

.footer {
  position: relative;
  padding: 50px;
  text-align: center;
}

.github {
	height: auto; 
	width: auto; 
	max-width: 20px; 
	max-height: 20px;"
}

.primary-color {
	color: #03bbc5;
}

.contrasting-1-color {
	color: #002b2e;
}

.contrasting-2-color {
	color: #646464;
}

.analgous-color {
	color: #008cb0;
}

.muted-color {
	color: #777;
}

#map {
  display: block;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}



