/*
color sheme:  

primary       #03bbc5 (logo)
contrasting-1 #002b2e (job)
contrasting-2 #646464 (links)
analgous      #008cb0 (my name and app names)
muted gray    #999 (featured)

*/

body {
	font-family: 'Lato', sans-serif;
/*	color: #747784;*/
/*	color: #03bbc5;*/
	font-weight: 400;
}

h1, a {
	color: #747784;
}

/*(svg.education:hover {
	background-color: #03A8B1;
}*/
text#music {
	font-family: 'Parisienne';
	font-size: 65px;
}

text#law {
	font-family: 'Poly';
	font-size: 65px;
}

text#programming {
	font-family: 'Lato';
	font-size: 45px;
	font-weight: 300;
}

text {
	font-size: 35px;
	fill: white;
}

hr {
	height: 3px;
	background-color: #bbb;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

span {
	font-family: 'Montez', 'Brush Script MT', 'Papyrus', cursive;
	color: #008cb0 ;
	font-size: 26px;
}

.svg {
	padding: 20px;
}

.footer {
  position: relative;
  padding: 50px;
}

.logo {
  margin-top: 20px;
}

.github {
	height: auto; 
	width: auto; 
	max-width: 20px; 
	max-height: 20px;"
}

.title-super {
	font-size: 85px;
	font-family: 'Montez', 'Brush Script MT', 'Papyrus', cursive;
}

.text-thin {
	font-weight: 100;
} 

.primary-color {
	color: #03bbc5;
}

.contrasting-1-color {
	color: #002b2e;
}

.contrasting-2-color {
	color: #646464;
}

.analgous-color {
	color: #008cb0;
}

.muted-color {
	color: #777;
}

#map {
  display: block;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}



