* {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
/* General styling */

body {
	font-family: 'Lato', sans-serif;
	font-size: 1.7em;
	font-weight: 300;
	color: white;
}

header {
	border-bottom: 3px solid #999;
	padding: -5px;
	color: #002b2e;
}

button {
	color: white;
	background-color: #03bbc5;
	border: #03bbc5;
}

.btn:hover {
	background-color: #00A2AC;
}

.btn:focus {
	outline: none;
}

h1.analgous-color {
	display: block;
	font-family: 'Montez', 'Brush Script MT', 'Papyrus', cursive;
	font-size: 5.2em;
	font-weight: 100;
	line-height: 1.1;
}

h4.contrasting1-color {
	text-transform: uppercase;
	line-height: 0.2;
}

h1, h2, a {
	color: #747784;
}

h2 {
	font-size: 2.2em;
}
a {
	display: inline-block;
}

.section-heading {
	font-style: italic;
}

li {
	display: inline-block;
	list-style : none;
}

text {
	font-size: 2em;
	fill: white;
}

.container {
	padding-left:30px;
	padding-right:30px;
}

.heading {
	color: white;
}
.col h1 {
	color: white;
}

.primary-color {
	color: #03bbc5;
}

.contrasting-1-color {
	color: #002b2e;
}

.contrasting-2-color {
	color: #646464;
}

.analgous-color {
	color: #008cb0;
}

.muted-color {
	color: #777;
}

#map-header {
	color: #777;
}

/* SVGs */

svg {
	display: inline-block;
}

.primary {
	fill: #03bbc5; /* logo */
}

.contrasting-1 {
	fill: #002b2e; /* job */
}

.contrasting-2 {
	fill: #646464; /* links */
}

.analgous {
	fill: #008cb0; /* my name, app names */
}

.muted {
	fill: #999; /* featured */
}

.gray {
	fill: #4b4b4b; /* gray svg */
}

.main ul li{
	margin-left: -20px;
}

#work-circle {
	fill: #646464;
}

#work-circle:hover {
	fill: #4B4B4B;
}

#education-circle, #contacts-circle {
	fill: #03bbc5;
}

#education-circle:hover, #contacts-circle:hover {
	fill: #00A2AC;
}

#projects-circle {
	fill: #008cb0;
}

#projects-circle:hover {
	fill: #007397;
}

#skills-circle {
	fill: #002b2e;
}

#skills-circle:hover {
	fill: #1A4548;
}

/* Education Section*/

.programming-col {
	background-color: #03bbc5;
	border-radius: 10px;
	height: 300px;
	padding-bottom: 10px;
}

.programming-col h1 {
	font-family: 'Lato';
	font-size: 3.4em;
	font-weight: 300;
	color: white;
}

.Law-col {
	background-color: #646464;
	border-radius: 10px;
	height: 300px;
}

.Law-col h1 {
	font-family: 'Poly';
	font-size: 4.6em;
	font-weight: 300;
}

.Music-col {
	background-color: #008cb0;
	border-radius: 10px;
	height: 300px;
}

.title {
	padding-top: 10px;
}

.school {
	color: white;
	margin: 3px;
	border-bottom: 1px solid white;
	line-height: 1;
}

.school:hover {
	text-decoration: none;
	color: #444;
	border-bottom: 1px solid #444;
}

.certificate {
	font-family: 'Montez';
	text-decoration: none;
	color: #444;
	font-size: 1.4em;
	border-bottom: 1px solid #444;
	line-height: 1;
}

.certificate:hover {
	text-decoration: none;
	color: #eee;
	border-bottom: 1px solid #eee;
}

.Music-col h1 {
	font-family: 'Parisienne';
	font-size: 4.6em;
	font-weight: 300;
}

/* Work Section */

.lawyer-col h1 {
	color: white;
}

.navy-col {
	background-color: #002b2e;
	border-radius: 10px;
	padding: 0 20px 20px 20px;
}

.navy-col h1 {
	color: white;
	font-family: Poly;
	font-variant: small-caps;
	font-size: 4em;
}

.lawyer-col {
	background-color: #008cb0;
	border-radius: 10px;
	padding: 0 20px 20px 20px;
}

.lawyer-col h1 {
	color: white;
	font-family: Poly;
	font-size: 4em;
}

/* Projects Section */

.projects-row a {
	color: #008cb0;
}

.project {
	color: #008cb0;
}

.project:hover {
	text-decoration: none;
	color: #444;
	border-bottom: 1px solid #444;
	line-height: 1;
}

#projects {
	color: #008cb0;
}

/* Skills Section */

.skill-list li {
	font-weight: bold;
	display: block;
	font-size: 1.5em;
}

.contact-type {
	font-weight: bold;
	font-size: 0.8em;
	color: #008cb0;
	display: block;
}

.contact-data {
	font-weight: bold;
	font-size: 1.5em;
	color: #008cb0;
}

/*  Map */
.map-header {
	color: ;
}


.map {
	display: block;
	height: 450px;
	margin-left: 5%;
	margin-right: 5%;
}

#mapDiv {
	height: 400px;
	width: 400px;
	padding-bottom: 5%;
}

/* Footer */

footer {
	padding-top: 15px;
	color: black;
}

#javascript {
	font-family: 'Montez', 'Brush Script MT', 'Papyrus', cursive;
	color: #008cb0 ;
	font-size: 1.6em;
}

.github {
	height: auto; 
	width: auto; 
	max-width: 20px; 
	max-height: 20px;"
}

@media screen and (max-width: 1200px) {
	.programming-col h1 {
	font-size: 3em;
	}
}

@media screen and (max-width: 1000px) {
	.main ul li{
	margin-bottom: -20px;
	margin-top: -20px;
}
}